<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head', {title: "Page not found"}) %>
  <body>
    <%- include('./includes/header') %>
    <main>
      <h1>404 Page not found!</h1>
      <p>Unfortunately, page not found!</p>
      <p><a class="btn" href="/">Back to safety!</a></p>
    </main>
  </body>
</html>
