<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head', {title: "An error occured"}) %>
  <body>
    <%- include('./includes/header') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>Unfortunately, something went wrong - please try again later</p>
      <p><a class="btn" href="/">Back to safety!</a></p>
    </main>
  </body>
</html>
