<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../shared/includes/head', {title: "Failure"}) %>
  </head>

  <body>
    <%- include('../../shared/includes/header') %>
    <main>
      <h1>Order Failed!</h1>
      <p>Please contact the shop owner for more details!</p>
    </main>
  </body>
</html>
